<h1 class="text-center"> {{pageTitle}} </h1> <br>
   <div>
    <button type="button" class="btn btn-danger" [routerLink]="['/addUser']" >Add User</button>
   </div>
<div *ngIf="users.length>0, else nousers">
<table class="table table-bordered">
    <tr class="bg-primary">
        <th>Id</th>
        <th>Name</th>
        <th>username</th>
        <th>Email</th>
    </tr>
    <tr *ngFor="let user of users">
        <td><a [routerLink]="['/user', user.id]">{{user.id}}</a></td>
        <td><a [routerLink]="['/user', user.id]">{{user.name | uppercase}}</a></td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.dob}}</td>
    </tr>
</table>
</div>
<ng-template #nousers>
    <p> {{errorMessage}} </p>
</ng-template>