<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">About User Mangement Portal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius, ea deleniti, dignissimos nulla
                earum aspernatur quasi recusandae, ex veniam molestiae? Optio illo explicabo, ipsa architecto molestiae
                odio neque dolor hic obcaecati dolorem sint soluta iusto atque aliquid fugiat nulla dolore at molestias
                id necessitatibus perferendis vitae, sit eaque! Animi non aspernatur veniam. Architecto debitis repellat
                provident possimus similique, voluptatibus earum nihil quaerat nulla quasi nisi ducimus suscipit maiores
                nobis. Maxime eaque asperiores soluta temporibus? Nobis architecto iure, alias deserunt harum neque
                inventore nihil eaque pariatur tempora ullam eum consectetur ipsum. Debitis odit nihil quos. Pariatur,
                similique accusamus? Eligendi, commodi beatae, est aliquam atque accusantium possimus veniam dolores
                esse tempora ea neque saepe laboriosam error culpa vel, facere aperiam quisquam vitae totam illo quam!
                Voluptate beatae quaerat molestiae cupiditate tempora ratione deserunt suscipit sint! Ipsa veniam ullam
                tempora temporibus. Obcaecati non quaerat voluptatibus laborum!</p>
        </div>

    </div>
    <div>
        <div class="row">
            <div class="col-md-6">
                <router-outlet name="map"></router-outlet>
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet name="feeds"></router-outlet>
        </div>
       
    </div>
    <router-outlet></router-outlet>


</div>